<div class="contentContainer">
	<div class="headerBox">
		<img src="./assets/Images/Corder/corder-thin-border.jpg" alt="Corder" />
	</div>

	<div class="descriptionContainer">
		<h3 class="sectionHeader">
			Sony Cassette-Corder CFS-240
		</h3>
		<div class="descriptionText">
			<p>
				Customized Antique Cassette Recorder
			</p>
			<p>
				By far the strangest piece of gear in the collection. I had become interested in tape loops, and during
				my first visit to the local Goodwill I stumbled on this Sony Cassette Recorder from
				<a href="https://www.radiomuseum.org/r/sony_stereo_cassette_recorder_cfs_240l.html">1987</a>.
				Much of the work getting it back to a functional state was spent using acetone and cue tips to clean off
				the decades worth of grime. Both the Aux input jack and tape belt needed to be replaced. Additionally, a
				motor speed controller and CV input were added to the top face to allow for further potential of the
				unit. While it may be the most unique instrument I have, it's also by far the most difficult and
				frustrating to use in a musical context. The noise floor is sometimes unbearable and the warble makes it
				near impossible to quantize to a grid. Though sometimes, it has a tendency to generate audible
				chocolate.
			</p>
		</div>
	</div>

	<media-group [mediaLinks]="mediaLinks">
	</media-group>
</div>