<mat-tab-group>
	<mat-tab label="Audio">
		<audio-api></audio-api>
	</mat-tab>

	<mat-tab [label]="'Media Type'">
		<div class="tabContent">

			<mat-form-field>
				<input matInput [(ngModel)]="mediaTypeName" placeholder="Name" autofocus />
			</mat-form-field>
			<mat-form-field>
				<input matInput [(ngModel)]="mediaTypeDescription" placeholder="Description" />
			</mat-form-field>
			<button mat-raised-button (click)="createMediaTypeClick()">
				Create New Media Type
			</button>

			<div class="mediaTypeTable">
				<table *ngIf="mediaTypes && mediaTypes.length > 0">
					<tr>
						<th>
							Media Type name
						</th>
						<th>
							Description
						</th>
						<th>
							Action
						</th>
					</tr>
					<tr *ngFor="let type of mediaTypes">
						<td>
							{{type.name}}
						</td>
						<td>
							{{type.description}}
						</td>
						<td>
							<a (click)="deleteMediaType(type)" style="color:blue; cursor:pointer;">
								Delete
							</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</mat-tab>

</mat-tab-group>