<div>
	<mat-tab-group>
		<mat-tab [label]="'Genre'">
			<div class="tabContent">

				<mat-form-field>
					<input matInput [(ngModel)]="genreName" placeholder="Name" autofocus />
				</mat-form-field>
				<mat-form-field>
					<input matInput [(ngModel)]="genreDescription" placeholder="Description" />
				</mat-form-field>
				<button mat-raised-button (click)="createMediaTypeClick()">
					Create New Genre
				</button>

				<div class="genreTable">
					<table *ngIf="genres && genres.length > 0">
						<tr>
							<th>
								Genre
							</th>
							<th>
								Description
							</th>
							<th>
								Action
							</th>
						</tr>
						<tr *ngFor="let genre of genres">
							<td>
								{{genre.name}}
							</td>
							<td>
								{{genre.description}}
							</td>
							<td>
								<a (click)="deleteMediaType(genre)" style="color:blue; cursor:pointer;">
									Delete
								</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</mat-tab>

	</mat-tab-group>
</div>