<div class="content-container">
	<div class="headerBox">
		<img src="./assets/Images/PO12/po-12-thin-border.png" alt="Norns Shield" />
	</div>

	<div class="descriptionContainer">
		<h3 class="sectionHeader">
			PO-12 Rythm
		</h3>
		<div class="descriptionText">
			<p>
				A wrecking ball disguised as a calculator
			</p>
			<p>
				Before quitting Instagram I continued to see these little calculator devices pop up in my feed. After
				doing a bit of research and looking for an excuse to get a drum machine, I chose the cheapest
				Pocket Operator ebay had to offer: the PO-12 Rythm. While it was quick to annoy my roommates, I couldn't
				help but to come up with quick jams whenever I had a minute to spare. I've seen some in the YouTube
				community dismiss these as inferior toys, but between the range of effects and a port to
				sync with other devices, that couldn't be farther from the truth. Audio out directly into a loud amp and
				this thing can bring down a house.
			</p>
		</div>
	</div>


	<media-group [mediaLinks]="mediaLinks">
	</media-group>

</div>