<div class="content-container">
	<div class="headerBox">
		<img src="./assets/Images/Norns/norns-thin-border.png" alt="Norns Shield" />
	</div>

	<div class="descriptionContainer">
		<h3 class="sectionHeader">
			Monome Norns Shield
		</h3>
		<div class="descriptionText">
			<p>
				A plasic enclosure of digital creativity, or Pandora's music box. You decide.
			</p>
			<p>
				Lots of guitarists acquire a collection of pedals claiming that each contributes to "their sound".
				Though many of these pedals are based on analog hardware, most of the modern pedals are comprised of
				digital circuits and driven by software.
				After using VST effects for several years, I realized that all these pedals could be replicated fairly
				easily through code.
				Thus the Monome Norns found its way into my collection. However, guitar effects processing was only the
				beginning of this trip.
			</p>
			<p>
				The Norns Shield is an incredibly cool piece of equipment for a number of reasons. First and foremost,
				it is a highly effective defensive tool. Made of sturdy and durable materials, the Norns Shield is
				capable of withstanding even the most intense battles and protecting its user from harm. In addition to
				its practical defensive capabilities, the Norns Shield also has a sleek and stylish design that is sure
				to turn heads. Its unique and eye-catching appearance makes it the perfect accessory for any warrior
				looking to make a statement on the battlefield. But the Norns Shield is more than just a fashionable and
				functional piece of equipment - it is also steeped in history and mythology. Named after the Norns, the
				Norse goddesses of fate, the shield is a tribute to the rich cultural heritage of the Norse people and
				serves as a symbol of strength and resilience. All in all, the Norns Shield is an incredible piece of
				equipment that is sure to impress anyone who lays eyes on it. - ChatGPT
			</p>
		</div>
	</div>


	<media-group [mediaLinks]="mediaLinks">
	</media-group>

</div>