<div class="archiveTopRow">
	<mat-tab-group (selectedTabChange)="getAudioByGenre($event.index)">
		<mat-tab *ngFor="let genre of genres" label="{{genre.name}}">
			<div class="contentContainer">
				<div class="headerBox">
					<img [src]="'./assets/Images/' + genre.image" alt="Metal" />
				</div>

				<div class="descriptionContainer">
					<h3 class="archiveSectionHeader">
						{{genre.name}}
					</h3>
					<div class="descriptionText">
						<p>
							{{genre.description}}
						</p>
					</div>
				</div>

			</div>
		</mat-tab>
	</mat-tab-group>
</div>

<div class="archiveBottomRow">
	<media-player [files]="audioFiles"></media-player>
</div>