<div class="content-container">
	<div class="headerBox">
		<img src="/assets/Norns/norns-thin-border.png" alt="Norns Shield" />
	</div>

	<div class="descriptionContainer">
		<h3 class="sectionHeader">
			Monome Norns Shield
		</h3>
		<div class="descriptionText">
			<p>
				A plasic enclosure of digital creativity, or Pandora's music box. You decide.
			</p>
			<p>
				Lots of guitarists acquire a collection of pedals claiming that each contributes to "their sound".
				Though many of these pedals are based on analog hardware, most of the modern pedals are comprised of
				digital circuits and driven by software.
				After using VST effects for several years, I realized that all these pedals could be replicated fairly
				easily through code.
				Thus the Monome Norns found its way into my collection. However, guitar effects processing was only the
				beginning of this trip.
			</p>
		</div>
	</div>


	<app-media-group [mediaLinks]="mediaLinks">
	</app-media-group>

</div>