.flexNavigator {
	height: 100%;
	padding: 30px;
	padding-left: 55px;
}

@media only screen and (max-width: 1090px) {
	.flexNavigator {
		padding: 20px;
		padding-left: '';
	}
}

@media only screen and (max-width: 600px) {
	.flexNavigator {
		padding: 20px;
		padding-left: '';
	}
}

.homeLink {
	font-size: 23px;
	font-family: serif;
	color: black;
	text-decoration: none;
	letter-spacing: 1px;
}

.parentLink {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.childLink {
	margin-left: 20px;
}

.selectedChild {
	margin-left: 20px;
	color: blue;
	text-decoration: underline;
	padding-left: 20px;
}

@media only screen and (max-width: 600px) {
	.mobileMenu {
		float: right;
	}
}

.navList {
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100% - 180px);
}