<div class="flexNavigator">

    <h3>
        <a routerLink="/home" class="homeLink" (click)="homeClick()">
            Softcut Recordings
        </a>

        <div *ngIf="isMobile" class="mobileMenu">
            <mat-icon [matMenuTriggerFor]="mobileMenu">
                menu
            </mat-icon>
            <mat-menu #mobileMenu="matMenu">
                <button *ngFor="let navLink of navigationLinks" mat-menu-item [matMenuTriggerFor]="subMenu">
                    {{navLink.name}}
                    <mat-menu #subMenu="matMenu">
                        <button *ngFor="let navChild of navLink.children" mat-menu-item [routerLink]="navChild.path">
                            {{navChild.name}}
                        </button>
                    </mat-menu>
                </button>
            </mat-menu>
        </div>
    </h3>

    <mat-nav-list *ngIf="!isMobile">
        <div *ngFor="let navLink of navigationLinks">
            <a mat-list-item (click)="parentLinkClick(navLink)">
                <div class="parentLink">
                    <div>
                        {{navLink.name}}
                    </div>
                    <mat-icon [@indicatorRotate]="navLink.expanded ? 'expanded': 'collapsed'">
                        expand_more
                    </mat-icon>
                </div>
            </a>
            <div *ngIf="navLink.expanded">
                <a *ngFor="let navChild of navLink.children" (click)="childLinkSelected(navChild)"
                    [ngClass]="navChild.selected ? 'selectedChild' : 'childLink'" mat-list-item
                    [routerLink]="navChild.path">
                    {{navChild.name}}
                </a>
            </div>
        </div>
    </mat-nav-list>

    <app-footer *ngIf="!isMobile"></app-footer>

</div>