:host {
	display: flex;
	flex: 1 auto;
}

.audioFlex {
	display: flex;
	flex-direction: row;
}

.mediaList {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.audioList {
	overflow: auto;
	margin-bottom: 10px;
	border-bottom: thin solid lightgray;
	border-top: thin solid lightgray;
}

.audioLink {
	height: 40px !important;
	border: thin solid lightgray;
	box-sizing: border-box;
	cursor: pointer;
}

.audioLink:hover {
	font-weight: bold;
	background-color: lightgray;
	border: thin solid black;
	box-sizing: border-box;
}

.trackNumber {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	color: gray;
}

.audioLinkContainer {
	width: 400px;
}

.audioPlayerInfo {
	padding-left: 20px;
}

.playerContainer {
	background-color: white;
	padding-top: 10px;
}

.mat-list-base {
	padding: 0;
}

h4 {
	margin: 0;
}