.mediaList {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.audioLink {
	height: 40px !important;
	border: thin solid lightgray;
	box-sizing: border-box;
	cursor: pointer;
}

.audioLink:hover {
	font-weight: bold;
	background-color: lightgray;
	border: thin solid black;
	box-sizing: border-box;
}

.playerContainer {
	width: 100%;
	background-color: white;
	padding-top: 10px;
	border-top: thin solid lightgray;
}

.mat-list-base {
	padding: 0;
}

h4 {
	margin: 0;
}