.audioFlex {
	display: flex;
	flex-direction: column;
}

.mediaList {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.audioLink {
	height: 40px !important;
	border: thin solid lightgray;
	box-sizing: border-box;
	cursor: pointer;
}

.audioLink:hover {
	font-weight: bold;
	background-color: lightgray;
	border: thin solid black;
	box-sizing: border-box;
}

.audioContent {
	display: flex;
	flex-direction: row;
}

.audioLinkContainer {
	width: 400px;
}

.audioInfo {
	padding-left:20px;
}

.playerContainer {
	background-color: white;
	padding-top: 10px;
	position: absolute;
	bottom: 10px;
}

.mat-list-base {
	padding: 0;
}

h4 {
	margin: 0;
}