<div class="content-container">
	<div class="headerBox">
		<img src="./assets/Images/Hellraiser/hellraiser-thin-border.png" alt="Hellraiser" />
	</div>

	<div class="descriptionContainer">
		<h3 class="sectionHeader">
			Schecter Hellraiser
		</h3>
		<div class="descriptionText">
			<p>
				Korean made guitar going strong for over a decade
			</p>
			<p>
				The oldest and most used instrument in my collection. Hardly recognizable from its factory state, this
				Schecter Hellraiser C-1 has undergone many "surgeries" with all the scars and transplants on display.
				This was a high school purchase that has survived the years, teaching me all that I know
				about a fretboard. Though primarily thought of as a Metal guitar, it has served as my main instrument
				for many different styles and experiments. Featuring all the original specs that retain the
				Hellraiser sound, the neck has been stripped of its finish, the body reshaped, and the head completely
				redesigned. Most guitarists going on 15+ years have a rack full of strings in their arsenal, but this
				lone guitar continues to serve me well for now.
			</p>
		</div>
	</div>

	<media-group [mediaLinks]="mediaLinks">
	</media-group>

</div>