.mediaGroup {
    padding-top:20px;
    padding-bottom:40px;
}

.youtubeEmbed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    border: 0;
}

.mediaContainer {
    padding-top: 50px;
    padding-bottom: 25px;
}

.iframeContainer {
    position: relative;
    padding-top: 56%;
    border: thick solid darkgray;
}