<div class="content-container">

	<div class="headerBox">
		<img src="/assets/Keystep/keystep-thin-border.jpg" alt="Keystep" />
	</div>

	<div class="descriptionContainer">
		<h3 class="sectionHeader">
			Arturia Keystep 37
		</h3>
		<div class="descriptionText">
			<p>
				Midi Keyboard / Sequencer / Arpeggiator / CC Messages
			</p>
			<p>
				Central to this setup has always been some form of Midi Keyboard. Initially I was using the M-Audio
				Keystation 61, but found it was taking up too much room and didn't include the flexibility I was looking
				for in a Midi Controller. Also hoping to experiment with transposing sequences, I decided on the Keystep
				37 (a step up from the common Keystep 32). It fit nicely between the Neutron & QWERTY, could send out up
				to 16 CC messages, could act as a Midi Passthrough device, and had a bunch of chord features that I
				hadn't realized. 37 keys does feel a bit limiting at times, and only a single CV instrument can be
				controlled at once. Otherwise, this keyboard has handled all my Midi needs flawlessly.
			</p>
		</div>
	</div>

	<media-group [mediaLinks]="mediaLinks">
	</media-group>
	
</div>