<div class="contentContainer">
	<div class="headerBox">
		<img src="/assets/Home/home-thin-border.jpg" alt="Studio" />
	</div>

	<div class="descriptionContainer">
		<h3 class="sectionHeader">
			About
		</h3>
		<div class="descriptionText">
			<p>
				A collection of musical hardware, software and ideas.
			</p>
			<p>
				What started out as an interest in recording guitar riffs quickly became a separate hobby of production and engineering.
				Along with the growing pile of Cubase projects came the purchase of Midi Devices and Sound Processing instruments.
				The idea behind Softcut Recordings is to document the advantages and understand the limitations of each piece in the setup.
				Without a full understanding of the functions within the signal flow, much the gear will become paperweights rather than a useable setup.
				Falling victim to GAS (Gear Acquisition Syndrome) is neither desireable or beneficial to the quality and workflow of each new project.
			</p>
		</div>
	</div>

	<!-- <app-media-group [mediaLinks]="mediaLinks">
	</app-media-group> -->

</div>