<div class="content-container">
	<div class="headerBox">
		<img src="/assets/Neutron/neutron-thin-border.jpg" alt="Keystep" />
	</div>

	<div class="descriptionContainer">
		<h3 class="sectionHeader">
			Behringer Neutron
		</h3>
		<div class="descriptionText">
			<p>
				The perfect beginner's tool for learning Modular Synthesis
			</p>
			<p>
				The Neutron was the hardware synth I had been researching for weeks before finally pulling the trigger.
				Featuring two oscillators, a Bucket Brigade Delay, and 56 patch points, this synth had more than enough
				features to help me learn the inner workings of a true analog synthesizer. It can be tedious to use at
				first, as each oscillator needs to be tuned manually, and an inexperienced user might find the behavior
				a bit erratic. Though, once I got the hang of controlling each "module", I found it was a wild tool for
				sound design.
			</p>
		</div>
	</div>

	<app-media-group [mediaLinks]="mediaLinks">
	</app-media-group>

</div>